{% extends "rest_framework/base.html" %}

{% block title %}
    {% if user.is_authenticated %}
        WebSite Content Administration
    {% else %}
        Log in | WebSite Content Administration
    {% endif %}
{% endblock %}

{% block branding %}
<h1 id="site-name">
    <a href="{% url 'admin:index' %}">
        {% if user.is_authenticated %}
            WebSite Content Administration
        {% else %}
            Log in | WebSite Content Administration
        {% endif %}
    </a>
    </h1>
{% endblock %}

{% block nav-global %}{% endblock %}
